@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Hanken Grotesk', sans-serif;

}

.catholic {
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
    background-color: #f6f4f9;
    padding: 10px;
}

/* Set the sidebar text color */
.sidebar .nav-link {
    color: #333;
}

/* Add padding to the sidebar links */
.sidebar .nav-link {
    padding: 10px;
}

/* Add margin to the logo */
.sidebar .logo {
    margin-bottom: 20px;
}

/* Set the main content to take up the remaining height */
.main-content {
    height: 100vh;
    padding: 10px;
}

/* Set the button to be fixed at the bottom */
.btn-bottom {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.member-registration {
    padding: 0 5%;
    overflow-y: scroll;
    height: 80vh;
}

.form-group {
    margin-bottom: 15px;
}

header {
    background-color: #f6f4f9;
    padding-block: 15px;
}

.forms-title {
    margin-top: 15px;
}

.profile-picture-input {
    margin-top: 20px;
    padding: 0 10px;
    padding-block: 10px;
    border: 2px solid #e2cb59;
    border-radius: 5px;
    background-color: #9d1890;
    color: #e2cb59;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
}

.logins-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 5px;
}

.login-button {
    border: 2px solid;
    padding: 10px;
    text-align: center;
    border: none;
    background-color: #9d1890;
}

.login-button a {
    text-decoration: none;
    color: #FFF;
}



/* Executive CSS */
.executive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.executive-card img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.executive-card {
    width: 95%;
    text-align: center;
}
.executive-details{
margin-left: 8%; 
   text-align: left;
}

.log-out-btn {
    border: 2px solid;
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    background-color: #9d1890;
    color: #e2cb59;
    text-decoration: none;
}

.log-out-btn:hover {
    background-color: transparent;
    color: #000;
}

#profile-picture {
    width: 200px;
    height: 200px;
}

.login-bg img {
    width: 100%;
    height: 100vh;
}

.border {
    width: 100%;
}

.submit-btn {
    border: 2px solid;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 13px;
    text-align: center;
    background-color: #9d1890;
    color: #e2cb59;
}
.submit-btn:hover{
    color: #fff;
}