<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="form_first" placeholder="first">
        <input type="text" name="form_last" placeholder="last">
        <input type="file" name="form_picture">
        <button>ADD</button>
    </form>
</body>
</html>